@charset "utf-8";
/*
	Author: James Murphy
	Date: 10/18/2022
	File: layout.css

	Basic layout styles for portfolio website
*/

header {
  margin: 0 20% 5%;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links {
  display: flex;
}

.nav-links a {
  padding: 0 10px 0;
}

.contact-links li {
  padding: 0 0 20px;
}

#main {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}

#contact {
  flex: 1 1 auto;
}

#about {
  flex: 1 1 auto;
}

#projects {
  margin-right: 15%;
}

footer {
  margin-top: 30%;
}
